body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ensures vertical centering */
    margin: 0;
}

.chessboard {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 90vmin;
    /* Square layout */
    height: 90vmin;
    /* Square layout */
}

.chessboard div {
    width: 12.5%;
    height: 12.5%;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 1px white;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}