body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    background-image: url("https://www.freepik.com/free-vector/maths-realistic-chalkboard-background_4473261.htm#fromView=search&page=1&position=1&uuid=f444cea5-7ca4-4eb4-a88c-ae88b4b02b8a");
    background-size: cover;
    /* Ensures the image covers the whole screen */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Ensures the image does not repeat */

}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.zero {
    grid-column: span 2;
}